:root {
    --themeColor: #0a7fe2;
    --highlightColor: #ffa608;
    --linkColor: #6cbaf9;
    --bgLighter: #3c3f46;
    --bgLight: #282b30;
    --bgDark: #202327;
    --bgDarker: #161718;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgDark);
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

/* zamezení změny barvy u obecného odkazu (např. když a href obaluje div atd.) */
a {
    color: inherit;
    text-decoration: none;
}

/* a zde definování barvy pro textové odkazy vložené v odstavcích */
p a {
    text-decoration: none;
    color: var(--linkColor);
}
    p a:link {
        color: var(--linkColor);
    }
    p a:visited {
        color: var(--linkColor);
    }
    p a:hover {
        color: var(--linkColor);
        text-decoration: underline;
    }
    p a:active {
        color: var(--linkColor);
    }

/* nadpisy každé stránky */
h1 {
    margin: 0px;
    color: var(--themeColor);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
    h1:hover {
        filter: brightness(120%);
    }

/* nadpis využitý pro velikosti mapy regionů */
h3 {
    font-family: 'Open Sans', sans-serif;
    color: var(--linkColor);
}



/* ======================================================================================================== */
/* index.html */

/* hlavní grid container úvodní stránky, v němž jsou další sub-divy */
#uvodniStrankaContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: minmax(450px, 30%) minmax(auto, 70%);
    grid-template-rows: auto;
}
    /* na mobilu bude menší min(max) pro mainmenu panel */
    /* to sice nebude vidět (díky nezobrazení pinup panelu a roztažení menu přes oba columns), */
    /* ale příliš velký min by způsoboval overflow-x */
    @media (pointer: coarse) {
        #uvodniStrankaContainer {
            width: 100%;
            height: auto;
            grid-template-columns: minmax(300px, 30%) minmax(auto, 70%);
        }
    }

/* boční panel s hlavním menu */
#panelMenu {
    height: 100vh;
    max-height: 100%;
    background-color: var(--bgDark);
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 1.7em;
}
    /* na mobilu bude tento panel zabírat celou šířku obrazovky (tj. oba grid-columns) */
    @media (pointer: coarse) {
        #panelMenu {
            height: auto;
            grid-column: 1 / 3;
        }
    }

    /* container div jen pro samotné logo Cyklotreky */
    #panelMenuLogo {
        background-color: var(--bgDarker);
        grid-row: 1 / 2;
    }
        #panelMenuLogo img {
            max-height: 100%;
            width: auto;
            max-width: 100%;
            height: auto;
        }

    /* container div pro hlavní menu */
    #panelMenuContent {
        overflow-x: hidden;
        overflow-y: auto;
        grid-row: 2 / 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

        /* jednotlivá tlačítka hlavního menu vč. unikátních obrázků na pozadí */
        .menuItemWrapper {
            background-color: transparent;
            background-position: center center;
            background-repeat: no-repeat;
            width: 330px;
            height: 100px;
            margin: 10px 0px;
            padding: 35px;
            user-select: none;
        }
            .menuItemWrapper.menuCyklo {
                background-image: url("../img/menu-cyklo.png");
            }
            .menuItemWrapper.menuPesi {
                background-image: url("../img/menu-pesi.png");
            }
            .menuItemWrapper.menuRegiony {
                background-image: url("../img/menu-regiony.png");
            }
            .menuItemWrapper.menuPravidla {
                background-image: url("../img/menu-pravidla.png");
            }
            .menuItemWrapper.menuOdkazy {
                background-image: url("../img/menu-odkazy.png");
            }

        .menuItem {
            background-color: transparent;
            width: 320px;
            height: 90px;
            margin: 5px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: 1.7em;
            color: #eff9ff;
            filter: drop-shadow(2px 2px 3px black);
        }
            .menuItem:hover {
                font-size: 1.8em;
                color: white;
                background-color: rgba(10, 127, 226, 0.05);
            }

    /* patička pod hlavním menu obsahující číslo aktuální verze Cyklotreků */
    #panelMenuPatka {
        overflow: hidden;
        background-color: var(--bgDarker);
        font-size: 0.8em;
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* container div pro zobrazení random pinup bike girls */
#panelPinup {
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
}
    /* na mobilu tento panel nebude vůbec zobrazený */
    @media (pointer: coarse) {
        #panelPinup {
            display: none;
        }
    }



/* ======================================================================================================== */
/* společné prvky pro každou sub-stránku */

/* horní container div s logem a názvem stránky */
#titulka {
    background-color: var(--bgDarker);
    border-bottom: 1px solid var(--themeColor);
    top: 0px;
    position: sticky;
    padding: 10px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

    #logotop {
        background-color: var(--themeColor);
        position: absolute;
        top: -25px;
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 0px 0px 50% 50%;
        z-index: 110;
    }
        #logotop img {
            max-height: 100%;
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
        }
        #logotop:hover {
            top: -10px;
        }

    #nazevStranky {
        background-color: transparent;
        margin-top: 15px;
    }

/* hlavní container div pro content stránky se zobrazením ve stylu flex containeru */
#obsahStranky {
    margin: 0px auto;
    padding: 10px 0px 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

/* hlavní container div pro content stránky s klasickým zobrazením prvků pod sebou */
#obsahStrankyClassic {
    margin: 0px auto;
    padding: 20px 0px 30px 0px;
}



/* ======================================================================================================== */
/* cyklo a pěší filtry*/

/* container div s filtry pro trasy */
#filtry {
    background-color: var(--bgDarker);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

/* dropdown filtr (délka tras a region) */
.filtrNabidka {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    width: 25%;
    max-width: 250px;
}
    .filtrNabidka .nabidkaContainer {
        background-color: var(--bgLighter);
        font-family: inherit;
        color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("../img/dropdown-triangle.svg");
        background-repeat: no-repeat;
        background-position: right 5px top 50%;
        border: 1px solid white;
        border-radius: 7px;
        display: block;
        min-width: auto;
        width: 90%;
        height: 25px;
        max-width: 300px;
        padding-left: 5px;
    }
        .filtrNabidka .nabidkaContainer:hover {
            border: 1px solid var(--themeColor);
        }
        .filtrNabidka .nabidkaContainer:focus {
            border: 1px solid var(--themeColor);
        }

/* boolean filtr formou zatržítka (pro známé a nově přidané trasy) */
.filtrZatrzitko {
    display: flex;
    align-items: center;
    margin: 10px;
}
    .filtrZatrzitko .zatrzitkoContainer {
        display: inline-block;
        position: relative;
        user-select: none;
        cursor: pointer;
        height: 27px;
        margin-left: 5px;
    }
        .zatrzitkoContainer input {
            display: none;
        }
        .zatrzitkoContainer .zatrzitko {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 1px solid white;
            border-radius: 7px;
            background-color: var(--bgLighter);
        }
        .zatrzitkoContainer:hover input ~ .zatrzitko {
            border: 1px solid var(--themeColor);
        }
        .zatrzitkoContainer input:checked ~ .zatrzitko {
            background-color: var(--themeColor);
            border: 1px solid var(--themeColor);
        }
            .zatrzitkoContainer .zatrzitko::after {
                content: "";
                position: absolute;
                display: none;
                top: 4px;
                left: 8px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0px 5px 5px 0px;
                transform: rotate(45deg);
            }
            .zatrzitkoContainer input:checked ~ .zatrzitko::after {
                display: block;
            }

/* textový filtr hledající v názvech tras */
.filtrText {
    width: 90%;
    padding: 10px 0px;
}
/* textový filtr hledající v názvech tras */
#hledatNazev {
    width: 80%;
    max-width: 400px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: var(--bgLighter);
    color: white;
    padding: 5px 20px;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
}
    #hledatNazev:focus {
        border: 1px solid var(--themeColor);
    }

/* div s počítadlem tras */
#pocitadloTras {
    padding: 5px 20px;
    background-color: var(--themeColor);
    margin: 2px 10%;
    border-radius: 15px;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    width: 100px;
    cursor: pointer;
}



/* ======================================================================================================== */
/* cyklo a pěší trasy - content stránky */

/* container div s vygenerovaným seznamem všech tras na stránce */
#seznamTras {
    margin: 0px auto;
    padding: 10px 0px 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* container div pro každou trasu, v němž pak jsou další části informací o trase */
/* (včetně infoboxu) */
.trasaWrapper {
    width: 452px;
    margin: 10px;
}
    @media (pointer: coarse) {
        .trasaWrapper {
            width: 90%;
            min-width: 252px;
            max-width: 352px;
        }
    }
    /* zde jsou specifické classy, které zařizují skrývání/zobrazování trasaWrapper v seznamu tras pro každý filtr zvlášť*/
    /* aby se spolu tyto jednotlivé filtry mohly kombinovat */
    .filtrDelka, .filtrRegion, .filtrKnown, .filtrNew, .filtrNazev {
        display: none;
    }

    /* container div uzavírající hlavní info o trase (tj. bez infoboxu) */
    .trasaContainer {
        background-color: var(--bgLight);
        margin: 0px auto;
        padding: 0px;
        border: 1px solid black;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 380px 70px;
        grid-template-rows: minmax(100px, auto);
        z-index: 5;
    }
        @media (pointer: coarse) {
            .trasaContainer {
                grid-template-columns: minmax(auto, 280px) 70px;
                grid-template-rows: minmax(50px, auto);
            }
        }
        .trasaContainer:hover {
            filter: brightness(120%);
        }

        /* stylovaný a href obalující všechny sub-divy v trasaContainer divu, aby byl klikatelný celý blok */
        .trasaUrlContainer {
            text-decoration: none;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 50px 100px 300px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                "km pic name"
                "km pic name"
                "km pic region";
        }
            @media (pointer: coarse) {
                .trasaUrlContainer {
                    grid-template-columns: 50px minmax(auto, 300px);
                    grid-template-rows: 1fr auto;
                    grid-template-areas: 
                        "km name"
                        "km region";
                }
            }

            /* div pro zobrazení délky trasy v km */
            .kmContainer {
                color: white;
                border-radius: 15px 0px 0px 15px;
                grid-area: km;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Cabin', sans-serif;
                font-weight: 600;
                font-size: 1.3em;
            }

                /* barevná rozlišení pro jednotlivé délky tras */
                /* tyto přiřazené classy jsou pak následně využité také Javascriptem pro filtrování tras podle délky */
                .short {
                    background-color: #144a14;
                }
                .medium {
                    background-color: #875807;
                }
                .long {
                    background-color: #a23604;
                }
                .longest {
                    background-color: #710606;
                }
                .multi {
                    background-color: #13264d;
                }
                /* doplňkové classy tras, které už jsme jeli/šli, resp. nově přidaných tras */
                /* také následně využívané Javascriptem pro filtrování tras */
                .known {
                    filter: grayscale(80%) brightness(150%);
                }
                .new {
                    border: 1px solid var(--themeColor);
                }

            /* div pro zobrazení obrázku/miniatury trasy */
            .pictureContainer {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 0px;
                padding: 0px;
                grid-area: pic;
            }
                /* na mobilech nebude ani vygenerovaný, takže nesmí pak zabírat žádné místo v html dokumentu */
                /* proto je zde také display: none */
                @media (pointer: coarse) {
                    .pictureContainer {
                        display: none;
                    }
                }

            /* div pro název trasy */
            .nazevContainer {
                background-color: transparent;
                color: white;
                border-radius: 0px 15px 0px 0px;
                grid-area: name;
                padding: 10px 15px 0px 12px;
                font-family: 'Open Sans', sans-serif;
                text-align: left;
                font-size: 1.3em;
            }

            /* div pro zobrazení regionu, v jakém daná trasa je přiřazena */
            .regionContainer {
                background-color: transparent;
                color: grey;
                border-radius: 0px 0px 15px 0px;
                grid-area: region;
                padding: 5px 90px 0px 12px;
                text-align: left;
            }
                @media (pointer: coarse) {
                    .regionContainer {
                        padding: 5px 90px 5px 12px;
                    }
                }
                /* automatické vložení mapového pinu před každý název regionu */
                /* jako takové grafické vylepšení hezkým vizuálním detailem */
                .regionContainer::before {
                    content: url("../img/map-pin.svg");
                    margin-right: 5px;
                }

        /* tlačítko pro zobrazení/skrytí infoboxu pod kartou trasy */
        .infoButtonContainer {
            background-color: transparent;
            border-radius: 0px 15px 15px 0px;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            z-index: 10;
            cursor: help;
            display: flex;
            flex-direction: column-reverse;
        }

            /* viditelná část tlačítka */
            .infoButtonVisual {
                background-color: #c38e4f;
                color: black;
                border-radius: 15px 0px 15px 0px;
                padding: 2px 0px;
                user-select: none;
            }
            .infoButtonVisual:hover {
                background-color: #ffa608;
                filter: brightness(80%);
            }

    /* container div pro content "vysouvacího" infoboxu */
    .infoboxContainer {
        /* display: none; musí být přes JavaScript */
        width: calc(100% - 100px);
        height: auto;
        margin: 0px auto;
        padding: 20px 35px 30px;
        background-color: #f6deb3;
        color: black;
        border-radius: 0px 0px 15px 15px;
        z-index: 1;
        text-align: justify;
    }



/* ======================================================================================================== */
/* externí odkazy */

/* container div obalující každou kategorii odkazů */
.linksWrapper {
    width: 90%;
    min-width: 250px;
    max-width: 450px;
    min-height: 100px;
    margin: 30px 10px;
}

    /* div pro ikonku reprezentující kategorii odkazů */
    .linksHeader {
        height: 50px;
        background-position: center top;
        background-repeat: no-repeat;
    }

    /* div pro content kategorie odkazů (tj. jednotlivé textové odkazy na externí stránky) */
    .linksBody {
        padding: 5px 5px 15px;
        border-radius: 0px 0px 15px 15px;
        border-top: 3px solid var(--bgLight);
    }



/* ======================================================================================================== */
/* mapa regionů */

/* container div pro obalení a hrefu, aby nepřetékal na 100% délky řádku prohlížeče */
.mapaRegionuWrapper {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

    /* stylopis pro samotné tlačítko pro každou velikost mapy regionů */
    .mapaRegionu {
        background-color: var(--bgLight);
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 10px;
    }
        .mapaRegionu:hover {
            filter: brightness(120%);
        }



/* ======================================================================================================== */
/* pravidla v přírodě */

/* container div pro každou z kategorií přírody */
.pravidlaContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    background-color: var(--bgLight);
    border-radius: 15px;
    justify-content: space-evenly;
}

/* textový název kategorie ochrany přírody (CHKO, NP, NPR...) */
/* defaultně se zobrazuje vlevo od ikonek */
.pravidlaOblast {
    width: 60%;
    min-width: 250px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
    /* na displejích o malé šířce (např. na mobilech) se zobrazí textový název nad ikonkami */
    @media (max-width: 572px) {
        .pravidlaOblast {
            text-align: inherit;
            justify-content: center;
        }
    }

/* container div pro jednotlivé ikonky pravidel v přírodě */
.pravidlaRules {
    width: 40%;
    min-width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

    /* čtvercový malý div každé jednotlivé ikonky pravidel v přírodě */
    /* tooltip je řešený formou ::after pseudoelementu pro každé pravidlo */
    /* tento ::after pseudoelement je defaultně display:none a zobrazuje se jen při :hover akci */
    .pravidloDiv {
        width: 40px;
        height: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
        .pravidloDiv:hover {
            background-color: var(--highlightColor);
        }

    .pPesky {
        background-image: url("../img/rules-pesky.svg");
    }

    .pKolo {
        background-image: url("../img/rules-kolo.svg");
    }

    .pStan {
        background-image: url("../img/rules-stan.svg");
    }

    .pBivak {
        background-image: url("../img/rules-bivak.svg");
    }

    .pANO {
        background-color: rgb(0, 102, 0);
        position: relative;
    }
        .pANO::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "povoleno";
        }
        .pANO:hover::after {
            display: block;
        }

    .pNE {
        background-color: rgb(119, 0, 0);
        position: relative;
    }
        .pNE::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "zakázáno";
        }
        .pNE:hover::after {
            display: block;
        }

    .pVsude {
        background-color: rgb(0, 102, 0);
        position: relative;
    }
        .pVsude::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "všude v krajině";
        }
        .pVsude:hover::after {
            display: block;
        }

    .pCesty {
        background-color: rgb(104, 88, 0);
        position: relative;
    }
        .pCesty::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "jen po cestách";
        }
        .pCesty:hover::after {
            display: block;
        }

    .pTrasy {
        background-color: rgb(141, 52, 0);
        position: relative;
    }
        .pTrasy::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "jen po značených trasách nebo silnicích";
        }
        .pTrasy:hover::after {
            display: block;
        }

    .pLaw {
        background-color: rgb(0, 73, 95);
        position: relative;
    }
        .pLaw::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "upraveno danou vyhláškou";
        }
        .pLaw:hover::after {
            display: block;
        }

    .pNekde {
        background-color: rgb(141, 52, 0);
        position: relative;
    }
        .pNekde::after {
            position: absolute;
            top: -30px;
            left: -161px;
            width: 350px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
            content: "jen na vyhrazených místech";
        }
        .pNekde:hover::after {
            display: block;
        }



/* ======================================================================================================== */
