/* ======================================================================================================== */
/* BĚŽNÉ HTML ELEMENTY */

/* global CSS variables (především tématická paleta barev webu */
:root {
    --themeColor: #0a7fe2;
    --highlightColor: #ffa608;
    --linkColor: #6cbaf9;
    --iblinkColor: #0d83e1;
    --bgLighter: #3c3f46;
    --bgLight: #282b30;
    --bgDark: #202327;
    --bgDarker: #161718;
    --infoBox: #f6deb3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgDarker);
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
    /* na PC je na každé stránce (kromě úvodní) vždy zobrazen vertikální posuvník, */
    /* aby při vyfiltrování malého počtu tras horizontálně neodskakovaly prvky stránky (vč. zatržítek filtrů apod.), když se posuvník skrýval */
    @media (pointer: fine) {
        body:not(#prvniStranka) {
            overflow-y: scroll;
        }
    }

/* zamezení změny barvy u obecného odkazu (např. když a href obaluje div atd.) */
a {
    color: inherit;
    text-decoration: none;
}

/* a zde definování barvy pro textové odkazy vložené v odstavcích */
p a {
    text-decoration: none;
    color: var(--linkColor);
}
    p a:link {
        color: var(--linkColor);
    }
    p a:visited {
        color: var(--linkColor);
    }
    p a:hover {
        color: var(--linkColor);
        text-decoration: underline;
    }
    p a:active {
        color: var(--linkColor);
    }

em {
    color: var(--highlightColor);
    text-decoration: none;
    font-style: normal;
}

/* nadpisy každé stránky */
h1 {
    margin: 0px;
    color: var(--themeColor);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
    h1:hover {
        filter: brightness(120%);
    }

/* nadpis využitý pro hlavní sekce statistiky */
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    color: var(--themeColor);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 900px;
}

/* nadpis využitý pro velikosti mapy regionů */
h3 {
    font-family: 'Open Sans', sans-serif;
    color: var(--linkColor);
}

/* menší nadpisy, hodící se např. pro sub-sekce ve statistikách */
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: var(--highlightColor);
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 900px;
}

.podtitul {
    color: lightgray;
}

ul {
    padding-left: 20px;
}

li {
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* ======================================================================================================== */
/* ÚVODNÍ STRÁNKA S MAIN MENU */

/* hlavní grid container úvodní stránky, v němž jsou další sub-divy */
#uvodniStrankaContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: minmax(450px, 30%) minmax(auto, 70%);
    grid-template-rows: auto;
}
    /* na mobilu bude menší min(max) pro mainmenu panel */
    /* to sice nebude vidět (díky nezobrazení pinup panelu a roztažení menu přes oba columns), */
    /* ale příliš velký min by způsoboval overflow-x */
    @media (pointer: coarse) {
        #uvodniStrankaContainer {
            width: 100%;
            height: auto;
            grid-template-columns: minmax(300px, 30%) minmax(auto, 70%);
        }
    }

/* boční panel s hlavním menu */
#panelMenu {
    height: 100vh;
    max-height: 100%;
    background-color: var(--bgDarker);
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 1.7em;
}
    /* na mobilu bude tento panel zabírat celou šířku obrazovky (tj. oba grid-columns) */
    @media (pointer: coarse) {
        #panelMenu {
            height: auto;
            grid-column: 1 / 3;
        }
    }

/* container div jen pro samotné logo Cyklotreky v rámci bočního main menu panelu */
#panelMenuLogo {
    background-color: var(--bgDarker);
    grid-row: 1 / 2;
}
    #panelMenuLogo img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
    }

/* container div pro main menu items v bočním panelu */
#panelMenuContent {
    background-color: var(--bgDark);
    overflow-x: hidden;
    overflow-y: auto;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
    /* speciální dodatečná pravidla jen pro desktopy(!), kde se bude vertikální posuvník zobrazovat jen v případě onhover */
    @media (pointer: fine) {
        #panelMenuContent {
            overflow-y: hidden;
            justify-content: flex-start;
            padding-left: calc((100% - 400px) / 2);
        }
            #panelMenuContent:hover {
                overflow-y: auto;
            }
    }
    /* rozšíření pro mobily, aby se tlačítka tolik "nelepila" na hlavičku a patičku */
    @media (pointer: coarse) {
        #panelMenuContent {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

/* jednotlivá tlačítka hlavního menu vč. unikátních obrázků na pozadí */
/* container div pro každé main menu tlačítko */
.menuItemWrapper {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 330px;
    height: 100px;
    margin: 10px 0px;
    padding: 35px;
    user-select: none;
}

    /* speciální úprava pro mobily pro zmenšení vzdálenosti mezi tlačítky menu */
    @media (pointer: coarse) {
        .menuItemWrapper {
            padding: 5px;
        }
    }
    /* obrázky na pozadí jednotlivých main menu tlačítek */
    /* nově budou jen na PC, na mobilu obrázky nebudou pro ještě větší úsporu dat */
    @media (pointer: fine) {
        .menuItemWrapper.menuCyklo {
            background-image: url("../img/menu-cyklo.png");
        }
        .menuItemWrapper.menuPesi {
            background-image: url("../img/menu-pesi.png");
        }
        .menuItemWrapper.menuRegiony {
            background-image: url("../img/menu-regiony.png");
        }
        .menuItemWrapper.menuPravidla {
            background-image: url("../img/menu-pravidla.png");
        }
        .menuItemWrapper.menuOdkazy {
            background-image: url("../img/menu-odkazy.png");
        }
        .menuItemWrapper.menuStatistika {
            background-image: url("../img/menu-statistika.png");
        }
        .menuItemWrapper.menuInformace {
            background-image: url("../img/menu-informace.png");
        }
    }

/* klikatelný vnitřní div každého main menu tlačítka */
.menuItem {
    background-color: transparent;
    width: 320px;
    height: 90px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    color: #eff9ff;
    filter: drop-shadow(2px 2px 3px black);
}
    .menuItem:hover {
        font-size: 1.8em;
        color: white;
        background-color: rgba(10, 127, 226, 0.05);
    }

    /* speciální formátování pro mobily, kde se nezobrazují obrázky na pozadí tlačítek menu */
    /* tak aby to nějak vypadalo i bez nich... */
    @media (pointer: coarse) {
        .menuItem {
            filter: unset;
            margin: 2px;
            border: 3px solid #052453;
            border-radius: 15px;
            background-color: var(--bgLight);
        }
        .menuItemWrapper.menuCyklo .menuItem, .menuItemWrapper.menuPesi .menuItem {
            border: 3px solid #063984;
        }
        /* individuální zbarvení každého tlačítka zvlášť */
        .menuItemWrapper.menuCyklo .menuItem {
            background-image: linear-gradient(90deg, #15273b, #1d3d60, #15273b);
        }
        .menuItemWrapper.menuPesi .menuItem {
            background-image: linear-gradient(90deg, #1b2308, #2f3c10, #1b2308);
        }
        .menuItemWrapper.menuRegiony .menuItem {
            background-image: linear-gradient(90deg, #281d09, #42320f, #281d09);
        }
        .menuItemWrapper.menuPravidla .menuItem {
            background-image: linear-gradient(90deg, #062011, #0d311c, #062011);
        }
        .menuItemWrapper.menuOdkazy .menuItem {
            background-image: linear-gradient(90deg, #032126, #083b43, #032126);
        }
        .menuItemWrapper.menuStatistika .menuItem {
            background-image: linear-gradient(90deg, #240d1d, #3b1c31, #240d1d);
        }
        .menuItemWrapper.menuInformace .menuItem {
            background-image: linear-gradient(90deg, #26110d, #33201c, #26110d);
        }
    }

/* patička pod hlavním menu obsahující číslo aktuální verze Cyklotreků */
#panelMenuPatka {
    overflow: hidden;
    background-color: var(--bgDarker);
    font-size: 0.8em;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container div pro zobrazení random pinup bike girls */
#panelPinup {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
}
    /* na mobilu tento panel nebude vůbec zobrazený */
    @media (pointer: coarse) {
        #panelPinup {
            display: none;
        }
    }



/* ======================================================================================================== */
/* SPOLEČNÉ PRVKY PRO KAŽDOU STRÁNKU (kromě úvodní stránky s main menu) */

/* horní container div s logem a názvem stránky */
#titulka {
    background-color: var(--bgDarker);
    border-bottom: 1px solid var(--themeColor);
    top: 0px;
    position: sticky;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    min-height: 50px;
}

/* absolutně pozicovaný div pro samotné logo */
#logotop {
    background-color: var(--themeColor);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    padding: 150px 10px 10px 10px;
    z-index: 110;
}
    /* animace loga při onhover */
    #logotop img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        transition: transform 0.4s ease-in-out;
    }
    #logotop img:hover {
        transform: rotate(-135deg);
    }

/* normálně float (static) pozicovaný div s názvem stránky (nadpisem) */
#nazevStranky {
    background-color: transparent;
}

    /* na displejích o malé šířce (např. na mobilech) se zobrazí prvky titulky trochu jinak, aby se všechny dobře vešly */
    @media (max-width: 572px) {
        #titulka {
            min-height: 30px;
        }
        #logotop {
            width: 30px;
            height: 30px;
        }
        #nazevStranky {
            padding: 0px 0px 0px 50px;
        }
        h1 {
            font-size: 1.5em;
        }
    }

/* hlavní container div pro content stránky se zobrazením ve stylu flex containeru */
#obsahStranky {
    background-color: var(--bgDark);
    margin: 0px auto;
    padding: 10px 0px 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
    #obsahStranky > p {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 900px;
    }

/* hlavní container div pro content stránky s klasickým zobrazením prvků pod sebou */
#obsahStrankyClassic {
    background-color: var(--bgDark);
    margin: 0px auto;
    padding: 20px 0px 30px 0px;
}
    #obsahStrankyClassic > p {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 900px;
    }

/* hlavní container div pro obsah stránky se statistikou */
#obsahStrankyStats {
    background-color: var(--bgDark);
    margin: 0px auto;
    padding: 20px 0px 30px 0px;
}
    #obsahStrankyStats > p {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 900px;
    }

/* hlavní container div pro content stránky s informacemi */
#obsahStrankyInfo {
background-color: var(--bgDark);
margin: 0px auto;
padding: 20px 0px 30px 0px;
}
    #obsahStrankyInfo > p {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 900px;
    }
    #obsahStrankyInfo > div {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 900px;
    }

.invisible {
    display: none;
}



/* ======================================================================================================== */
/* CYKLO A PĚŠÍ TRASY - filtry */

/* hlavní container div s filtry pro trasy */
#filtry {
    background-color: var(--bgDarker);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

/* wrapper div pro dropdown filtry (délka tras a region) */
.filtrNabidka {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    width: 25%;
    max-width: 250px;
}

    /* samotný dropdown filtr - v html je to <select> tag */
    .filtrNabidka .nabidkaContainer {
        background-color: var(--bgLighter);
        font-family: inherit;
        color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("../img/dropdown-triangle.svg");
        background-repeat: no-repeat;
        background-position: right 5px top 50%;
        border: 1px solid white;
        border-radius: 7px;
        display: block;
        min-width: auto;
        width: 90%;
        height: 25px;
        max-width: 300px;
        padding-left: 5px;
    }
        .filtrNabidka .nabidkaContainer:hover {
            border: 1px solid var(--themeColor);
        }
        .filtrNabidka .nabidkaContainer:focus {
            border: 1px solid var(--themeColor);
        }

/* wrapper div pro boolean filtr formou zatržítka (pro známé a nově přidané trasy) */
.filtrZatrzitko {
    display: flex;
    align-items: center;
    margin: 10px;
}

    /* container <label> pro zatržítko */
    .filtrZatrzitko .zatrzitkoContainer {
        display: inline-block;
        position: relative;
        user-select: none;
        cursor: pointer;
        height: 27px;
        margin-left: 5px;
    }

        /* zde je nutné skrýt default vzhled systémového zatržítka <input> */
        .zatrzitkoContainer input {
            display: none;
        }
        /* speciální formátování nového vzhledu samotného zatržítka, aby fungovalo normálně jako to systémové */
        .zatrzitkoContainer .zatrzitko {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 1px solid white;
            border-radius: 7px;
            background-color: var(--bgLighter);
        }
        .zatrzitkoContainer:hover input ~ .zatrzitko {
            border: 1px solid var(--themeColor);
        }
        .zatrzitkoContainer input:checked ~ .zatrzitko {
            background-color: var(--themeColor);
            border: 1px solid var(--themeColor);
        }
            .zatrzitkoContainer .zatrzitko::after {
                content: "";
                position: absolute;
                display: none;
                top: 4px;
                left: 8px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0px 5px 5px 0px;
                transform: rotate(45deg);
            }
            .zatrzitkoContainer input:checked ~ .zatrzitko::after {
                display: block;
            }

/* wrapper div pro textový filtr hledající v názvech tras */
.filtrText {
    width: 90%;
    padding: 10px 0px;
}

    /* samotný textový filtr <input> hledající v názvech tras */
    #hledatNazev {
        width: 80%;
        max-width: 400px;
        border: 1px solid white;
        border-radius: 30px;
        background-color: var(--bgLighter);
        color: white;
        padding: 5px 20px;
        font-family: inherit;
        font-size: 1em;
        text-align: center;
    }
        #hledatNazev:focus {
            border: 1px solid var(--themeColor);
        }

/* wrapper pro počítadlo tras (aby bylo možné zobrazit počet tras na obrazovce) */
#pocitadloWrapper {
    position: relative;
    width: 60px;
    height: 60px;
    bottom: -40px;
    margin: -30px 10% 0px 10%;
    z-index: 70;
}

    /* jeden dummy css-kruh okolo počítadla, který bude sloužit jen jako pozadí pro ten barevný dynamicky renderovaný kruh */
    #pocitadloKruhPozadi {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 60px;
        margin: 0px;
        padding: 0px;
        background-color: var(--bgLighter);
        border-radius: 50%;
        font-size: 0em;
    }

    /* html kanvas pro vytvoření kruhu */
    /* musí mít stejnou velikost a umístění, jako #pocitadloKruhPozadi, aby se tyto dva kruhy přesně překrývaly */
    /* další parametry jsou ale stanovené pomocí javascriptu, aby se kruh generoval dynamicky podle počtu zobrazených tras na stránce */
    #pocitadloKruh {
        position: absolute;
        top: 0px;
        left: 0px;
        /* šířka a výška musí být přímo v <canvas> tagu na html stránce, aby to fungovalo správně */
        /* protože default poměr stran pro <canvas> je 2:1, ale pro kruh je potřeba 1:1 a přes css samotné se změna poměru neprojeví */
        margin: 0px;
        padding: 0px;
    }

    /* div se samotným číselným počítadlem tras */
    #pocitadloTras {
        position: absolute;
        /* odsazení od top-left bodu wrapperu */
        top: 5px;
        left: 5px;
        /* a tím pádem i poměrné zmenšení velikosti (aby mohl být kruh okolo vidět a nebyl překrytý celý tímto textovým divem) */
        width: 50px;
        height: 50px;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgDarker);
        border-radius: 50%;
        font-family: 'Cabin', sans-serif;
        font-weight: 600;
        font-size: 1.4em;
        cursor: pointer;
        user-select: none;
        overflow: visible;
    }
        #pocitadloTras:hover {
            background-color: var(--bgLight);
        }
        #pocitadloTras:active {
            background-color: var(--bgDark);
        }



/* ======================================================================================================== */
/* CYKLO A PĚŠÍ TRASY - obsahová část speciálně jen pro tyto dvě stránky */

/* hlavní obsahový div s vygenerovaným seznamem všech tras na stránce */
#seznamTras {
    background-color: var(--bgDark);
    margin: 0px auto;
    padding: 40px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}
    /* při zobrazení 0 tras na mobilu se zobrazí normální textový řetězec */
    @media (pointer: coarse) {
        #seznamTras.noTracks {
            padding: 50px 0px 40px 0px;
        }
        .noTracks::before {
            content: "žádná trasa";
            color: var(--highlightColor);
        }
    }
    /* při zobrazení 0 tras na PC se zobrazí EasterEgg pinup girl jako pozadí takto prázdné stránky */
    @media (pointer: fine) {
        .noTracks {
            background-image: url("../img/notrackfound.png");
            min-height: 300px;
        }
    }

/* wrapper div pro každou trasu, v němž pak jsou další části informací o trase */
/* pozn: wrapper je včetně infoboxu */
.trasaWrapper {
    width: 452px;
    margin: 10px;
}
    @media (pointer: coarse) {
        .trasaWrapper {
            width: 90%;
            min-width: 252px;
            max-width: 352px;
        }
    }

    /* zde jsou specifické classy, které zařizují skrývání/zobrazování trasaWrapper v seznamu tras pro každý filtr zvlášť */
    /* aby se spolu tyto jednotlivé filtry mohly kombinovat */
    .filtrDelka, .filtrRegion, .filtrKnown, .filtrNew, .filtrNazev {
        display: none;
    }

    /* container div uzavírající hlavní info o trase (tj. bez infoboxu) */
    .trasaContainer {
        background-color: var(--bgLight);
        margin: 0px auto;
        padding: 0px;
        border: 1px solid black;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 380px 70px;
        grid-template-rows: minmax(100px, auto);
        z-index: 5;
    }
        /* dodatečné css stylování pro mobily, reflektující fakt, že na mobilech se u tras nezobrazují miniatury reprezentujících fotek */
        @media (pointer: coarse) {
            .trasaContainer {
                grid-template-columns: minmax(auto, 280px) 70px;
                grid-template-rows: minmax(50px, auto);
            }
        }
        .trasaContainer:hover {
            filter: brightness(120%);
        }

        /* stylovaný a href obalující všechny sub-divy v trasaContainer divu, aby byl klikatelný celý blok */
        .trasaUrlContainer {
            text-decoration: none;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 50px 100px 300px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                "km pic name"
                "km pic name"
                "km pic region";
        }
            /* dodatečné css stylování pro mobily, reflektující fakt, že na mobilech se u tras nezobrazují miniatury reprezentujících fotek */
            @media (pointer: coarse) {
                .trasaUrlContainer {
                    grid-template-columns: 50px minmax(auto, 300px);
                    grid-template-rows: 1fr auto;
                    grid-template-areas: 
                        "km name"
                        "km region";
                }
            }

            /* div pro zobrazení délky trasy v km */
            .kmContainer {
                color: white;
                border-radius: 15px 0px 0px 15px;
                grid-area: km;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Cabin', sans-serif;
                font-weight: 600;
                font-size: 1.3em;
            }

                /* barevná rozlišení pro jednotlivé délky tras */
                /* tyto přiřazené classy jsou pak následně využité také Javascriptem pro filtrování tras podle délky */
                .short {
                    background-color: #144a14;
                }
                .medium {
                    background-color: #875807;
                }
                .long {
                    background-color: #a23604;
                }
                .longest {
                    background-color: #710606;
                }
                .multi {
                    background-color: #13264d;
                }
                /* doplňkové classy tras, které už jsme jeli/šli, resp. nově přidaných tras */
                /* také následně využívané Javascriptem pro filtrování tras */
                .known {
                    filter: grayscale(80%) brightness(150%);
                }
                .new {
                    border: 1px solid var(--themeColor);
                }

            /* div pro zobrazení obrázku/miniatury trasy */
            .pictureContainer {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 0px;
                padding: 0px;
                grid-area: pic;
                user-select: none;
            }
                .pictureContainer > img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                /* na mobilech nebude ani vygenerovaný, takže nesmí pak zabírat žádné místo v html dokumentu */
                /* proto je zde také display: none */
                @media (pointer: coarse) {
                    .pictureContainer {
                        display: none;
                    }
                }

            /* div pro název trasy */
            .nazevContainer {
                background-color: transparent;
                color: white;
                border-radius: 0px 15px 0px 0px;
                grid-area: name;
                padding: 10px 15px 0px 12px;
                font-family: 'Open Sans', sans-serif;
                text-align: left;
                font-size: 1.3em;
            }

            /* div pro zobrazení regionu, do jakého je daná trasa přiřazena */
            .regionContainer {
                background-color: transparent;
                color: gray;
                border-radius: 0px 0px 15px 0px;
                grid-area: region;
                padding: 5px 90px 0px 12px;
                text-align: left;
            }
                @media (pointer: coarse) {
                    .regionContainer {
                        padding: 5px 90px 5px 12px;
                    }
                }
                /* automatické vložení mapového pinu před každý název regionu */
                /* jako takové grafické vylepšení hezkým vizuálním detailem */
                .regionContainer::before {
                    content: url("../img/map-pin.svg");
                    margin-right: 5px;
                }

        /* tlačítko pro zobrazení/skrytí infoboxu pod kartou trasy */
        .infoButtonContainer {
            background-color: transparent;
            border-radius: 0px 15px 15px 0px;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            z-index: 10;
            cursor: help;
            display: flex;
            flex-direction: column-reverse;
        }

            /* viditelná grafická část tlačítka */
            .infoButtonVisual {
                background-color: #c38e4f;
                color: black;
                border-radius: 15px 0px 15px 0px;
                padding: 2px 0px;
                user-select: none;
            }
            .infoButtonVisual:hover {
                background-color: #ffa608;
                filter: brightness(80%);
            }

    /* container div pro obsah "vysouvacího" infoboxu */
    .infoboxContainer {
        /* display: none; == musí být přes JavaScript */
        width: calc(100% - 100px);
        height: auto;
        margin: 0px auto;
        padding: 20px 35px 30px;
        background-color: var(--infoBox);
        color: black;
        border-radius: 0px 0px 15px 15px;
        z-index: 1;
        text-align: justify;
    }

        /* speciální stylování barvy pro odkazy v infoboxu (aby text nebyl tak světlý jako u ostatních odkazů) */
        .infoboxContainer a {
            text-decoration: none;
            color: var(--iblinkColor);
        }
            .infoboxContainer a:link {
                color: var(--iblinkColor);
            }
            .infoboxContainer a:visited {
                color: var(--iblinkColor);
            }
            .infoboxContainer a:hover {
                color: var(--iblinkColor);
                text-decoration: underline;
            }
            .infoboxContainer a:active {
                color: var(--iblinkColor);
            }
        /* záporné odsazení prvního řádku každého odstavce s ikonkou */
        /* (proto, aby ikonka nezasahovala do prvního řádku odstavce, ale byla před ním) */
        .infoboxContainer p[class^="ib"] {
            text-indent: -24px; /* tato hodnota musí být součet šířky ::before ikony (16px) a jejího odsazení (margin-right) */
        }
        /* speciální formátování pro odstavec bez ikonky zobrazující jednotlivé denní km a checkpointy */
        .infoboxContainer p:not([class^="ib"]) {
            background-color: #e8cc9d;
            background-image: linear-gradient(90deg, #e8cc9d, var(--infoBox));
            margin-left: -10px;
            margin-right: -10px;
            padding: 10px;
            border-radius: 10px;
            text-align: left;
        }
        /* jednotlivé classy pro odstavce textu podle typu jejich sdělení v rámci infoboxu */
        /* speciální formát pro odstavec o tom, kolik dní má trasa (pro lepší grafické rozlišení) */
        .ibMultiday {
            font-weight: bold;
            text-align: left;
        }
        /* společné formátování všech vektorových ikonek */
        .ibInfo::before, .ibTransport::before, .ibWarning::before, .ibTimelimit::before, .ibRestriction::before, .ibMultiday::before, .ibSleep::before, .ibSlope::before {
            margin-right: 8px;
        }
        /* vektorové obrázky ikonek pro jednotlivé typy sdělení */
        .ibInfo::before {
            content: url("../img/ib-info.svg");
        }
        .ibTransport::before {
            content: url("../img/ib-transport.svg");
        }
        .ibWarning::before {
            content: url("../img/ib-warning.svg");
        }
        .ibTimelimit::before {
            content: url("../img/ib-timelimit.svg");
        }
        .ibRestriction::before {
            content: url("../img/ib-restriction.svg");
        }
        .ibMultiday::before {
            content: url("../img/ib-multiday.svg");
        }
        .ibSleep::before {
            content: url("../img/ib-sleep.svg");
        }
        .ibSlope::before {
            content: url("../img/ib-slope.svg");
        }



/* ======================================================================================================== */
/* EXTERNÍ ODKAZY */

/* wrapper div obalující každou skupinu odkazů */
.linksWrapper {
    width: 90%;
    min-width: 250px;
    max-width: 450px;
    min-height: 100px;
    margin: 30px 10px;
}

/* div pro title image reprezentující danou skupinu odkazů */
.linksHeader {
    height: 50px;
    background-position: center top;
    background-repeat: no-repeat;
}

/* div pro obsah skupiny odkazů (tj. jednotlivé textové odkazy na externí stránky) */
.linksBody {
    padding: 5px 5px 15px;
    border-radius: 0px 0px 15px 15px;
    border-top: 3px solid var(--bgLight);
}



/* ======================================================================================================== */
/* MAPA REGIONŮ */

/* wrapper div pro obalení a hrefu, aby nepřetékal na 100% délky řádku prohlížeče */
.mapaRegionuWrapper {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

/* stylopis pro samotná tlačítka pro jednotlivé velikosti mapy regionů */
.mapaRegionu {
    background-color: var(--bgLight);
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
}
    .mapaRegionu:hover {
        filter: brightness(120%);
    }



/* ======================================================================================================== */
/* PRAVIDLA V PŘÍRODĚ */

/* container div pro každou z kategorií přírody */
.pravidlaContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    background-color: var(--bgLight);
    border-radius: 15px;
    justify-content: space-evenly;
}

/* textový název kategorie ochrany přírody (CHKO, NP, NPR...) */
/* defaultně se zobrazuje vlevo od ikonek */
.pravidlaOblast {
    width: 60%;
    min-width: 250px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
    /* na displejích o malé šířce (např. na mobilech) se zobrazí textový název nad ikonkami */
    @media (max-width: 572px) {
        .pravidlaOblast {
            text-align: inherit;
            justify-content: center;
            width: 100%;
        }
    }

/* container div pro ikonky pravidel v přírodě */
.pravidlaRules {
    width: 40%;
    min-width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

    /* čtvercový malý div každou jednotlivou ikonku pravidel v přírodě */
    /* tooltip je řešený formou ::after pseudoelementu pro každé pravidlo */
    /* tento ::after pseudoelement je defaultně display:none a zobrazuje se jen při :hover akci */
    .pravidloDiv {
        width: 40px;
        height: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
        .pravidloDiv:hover {
            background-color: var(--highlightColor);
        }

    /* vektorové obrázky pro samotné ikonky */
    /* chození pěšky */
    .pPesky {
        background-image: url("../img/rules-pesky.svg");
    }
    /* jízda na kole */
    .pKolo {
        background-image: url("../img/rules-kolo.svg");
    }
    /* stanování (táboření) */
    .pStan {
        background-image: url("../img/rules-stan.svg");
    }
    /* bivakování (spaní pod širákem) */
    .pBivak {
        background-image: url("../img/rules-bivak.svg");
    }

    /* společné vlastnosti pro všechna zbarvení pozadí divů ikonek pravidel v přírodě */
    .pANO, .pNE, .pVsude, .pCesty, .pTrasy, .pLaw, .pNekde {
        position: relative;
    }
    /* jednotlivé barvy pozadí divů s ikonkami pravidel */
    .pANO {
        background-color: rgb(0, 102, 0);
    }
    .pNE {
        background-color: rgb(119, 0, 0);
    }
    .pVsude {
        background-color: rgb(0, 102, 0);
    }
    .pCesty {
        background-color: rgb(104, 88, 0);
    }
    .pTrasy {
        background-color: rgb(141, 52, 0);
    }
    .pLaw {
        background-color: rgb(0, 73, 95);
    }
    .pNekde {
        background-color: rgb(141, 52, 0);
    }

        /* společné vlastnosti pro tooltipy všech ikonek s pravidly v přírodě */
        .pANO::after, .pNE::after, .pVsude::after, .pCesty::after, .pTrasy::after, .pLaw::after, .pNekde::after {
            position: absolute;
            top: -30px;
            display: none;
            padding: 2px;
            border-radius: 10px;
            background-color: var(--bgDarker);
            border-bottom: 1px solid var(--highlightColor);
            border-top: 1px solid var(--highlightColor);
            border-left: 4px solid var(--highlightColor);
            border-right: 4px solid var(--highlightColor);
        }
        /* rozměry tooltip boxu (podle délky textu v něm obsaženém */
        /* pozn: pozice "left" se vypočítá podle vzorce ( width + 12 [což je padding + border] - 40 [šířka ikony] ) / 2 */
        /* to následně zajistí, že bude tooltip zobrazený přesně uprostřed své šířky nad prostředkem dané ikony */
        /* krátký */
        .pANO::after, .pNE::after {
            left: -61px;
            width: 150px;
        }
        /* střední */
        .pVsude::after, .pCesty::after, .pLaw::after {
            left: -86px;
            width: 200px;
        }
        /* dlouhý */
        .pTrasy::after, .pNekde::after {
            left: -111px;
            width: 250px;
        }
        /* texty v jednotlivých typech tooltip boxů */
        .pANO::after {
            content: "povoleno";
        }
        .pNE::after {
            content: "zakázáno";
        }
        .pVsude::after {
            content: "všude v krajině";
        }
        .pCesty::after {
            content: "jen po cestách";
        }
        .pTrasy::after {
            content: "jen po značených trasách";
        }
        .pLaw::after {
            content: "podle vyhlášky";
        }
        .pNekde::after {
            content: "jen na vyhrazených místech";
        }

            /* při onhover se tooltip box zobrazí, jinak je skrytý */
            .pANO:hover::after, .pNE:hover::after, .pVsude:hover::after, .pCesty:hover::after, .pTrasy:hover::after, .pLaw:hover::after, .pNekde:hover::after {
                display: block;
            }



/* ======================================================================================================== */
/* STATISTIKA */

/* hlavní container div s přepínači pro zobrazení statistik */
#prepinace {
    background-color: var(--bgDarker);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

/* wrapper div pro samotná tlačítka (aby se držela pohromadě) */
#tlacitkaStatsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

    /* větší tlačítko pro celkový souhrn */
    #tlacitkoStatsSouhrn {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        min-height: 32px;
        background-color: var(--bgDark);
        border: 1px solid white;
        border-radius: 10px;
        margin: 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    /* menší tlačítka pro cyklo a pěší statistiky (společné formátování) */
    #tlacitkoStatsCyklo, #tlacitkoStatsPesi {
        box-sizing: border-box;
        width: calc(50% - 5px);
        height: auto;
        min-height: 32px;
        background-color: var(--bgDark);
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
    /* zvláštní formáty pro cyklo a pěší tlačítko */
    /* (protože cyklo je vlevo a pěší je vpravo */
    #tlacitkoStatsCyklo {
        margin: 5px 5px 5px 0px;
    }
    #tlacitkoStatsPesi {
        margin: 5px 0px 5px 5px;
    }

        /* onhover pravidla pro tlačítka */
        #tlacitkoStatsSouhrn:hover, #tlacitkoStatsCyklo:hover, #tlacitkoStatsPesi:hover {
            border-color: var(--themeColor);
            background-color: var(--bgLight);
        }

        /* speciální javascriptem přidělovaná class pro zvýraznění aktuálně aktivních dat statistiky */
        #tlacitkoStatsSouhrn.tlacitkoAktivni, #tlacitkoStatsCyklo.tlacitkoAktivni, #tlacitkoStatsPesi.tlacitkoAktivni {
            border-color: var(--themeColor);
            background-color: var(--themeColor);
            cursor: default;
        }

/* CELKOVÝ SOUHRN/PŘEHLED */

/* main div pro celý "celkový souhrn" */
#statsSouhrnMain {
    width: 100%;
    margin: 0px auto;
}

/* wrapper div pro statistiky o počtech tras, který umožní flex zobrazení */
.statsAmountsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 855px;
    margin: 0px auto;
}

/* container div pro každou z položek souhrnných dat zobrazujících počty tras */
.statsAmountsContainer {
    width: 30%;
    background-color: var(--bgLight);
    border-radius: 15px;
}

/* textový popisek položky nad číselnou hodnotou */
.statsAmountsPopisek {
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    color: gray;
}

/* číselná hodnota položky ze souhrnného počtu tras */
.statsAmountsVysledek {
    width: 100%;
    display: block;
    font-family: 'Cabin', sans-serif;
    font-size: 2em;
    padding: 15px 15px 30px 15px;
    box-sizing: border-box;
}

/* container div pro každou z položek souhrnných dat zobrazujících rekordní trasy */
.statsRecordsContainer {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto;
    width: 90%;
    max-width: 855px;
    background-color: var(--bgLight);
    border-radius: 15px;
    justify-content: space-evenly;
}
    @media (max-width: 572px) {
        .statsRecordsContainer {
            flex-wrap: wrap;
        }
    }

/* textový popisek položky */
/* defaultně se zobrazuje vlevo od číselného výsledku */
.statsRecordsPopisek {
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    color: gray;
}
    /* na displejích o malé šířce (např. na mobilech) se zobrazí textový popisek nad hodnotami */
    @media (max-width: 572px) {
        .statsRecordsPopisek {
            width: 100%;
            justify-content: center;
            text-align: center;
            padding-bottom: 5px;
        }
    }

/* hodnoty (názvy jednotlivých rekordních tras) */
.statsRecordsVysledek {
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}
    /* na displejích o malé šířce (např. na mobilech) se zobrazí hodnoty pod popiskem */
    @media (max-width: 572px) {
        .statsRecordsVysledek {
            width: 100%;
            justify-content: center;
            text-align: center;
            padding-top: 10px;
        }
    }

/* CYKLO / PĚŠÍ STATISTIKY */

/* main div pro celý box "cyklo / pěší statistiky" */
#statsCykloMain, #statsPesiMain {
    width: 100%;
    margin: 0px auto;
}

/* wrapper div pro koláčový graf */
/* POZOR: WIDTH A HEIGHT MUSÍ VŽDY ODPOVÍDAT HODNOTÁM Z JAVASCRIPTU */
.kolacWrapper {
    position: relative;
    margin: 0px auto;
    width: 460px;
    height: 460px;
}
    /* na mobilech bude menší, aby se pohodlně vešel na obrazovku */
    @media (pointer: coarse) {
        .kolacWrapper {
            width: 300px;
            height: 300px;
        }
    }

/* toto je samotný html kanvas pro vytvoření kruhu */
/* width a height bude určovat JS kód */
.kolacovyGrafCyklo {
    position: absolute;
    top: 0px;
    left: 0px;
    /* šířka a výška musí být přímo v <canvas> tagu na html stránce, aby to fungovalo správně */
    /* protože default poměr stran pro <canvas> je 2:1, ale pro kruh je potřeba 1:1 a přes css samotné se změna poměru neprojeví */
    margin: 0px;
    padding: 0px;
}

/* wrapper div pro vysvětlivky ke koláčovému grafu */
.kolacVysvetlivky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
    max-width: 1100px;
    margin: 20px auto 50px;
}

/* container div pro každou vysvětlivku zvlášť */
.kolacNotesContainer {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px;
    padding: 0px;
    width: 18%;
    min-width: 120px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 5px 1%;
}

/* vysvětlivka - délková kategorie tras */
.kolacNotesKategorie {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 3px solid var(--bgDark);
    padding: 5px;
}

/* vysvětlivka - délková kategorie procentní podíl */
.kolacNotesProcenta {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

/* wrapper div pro grafy s počty tras v regionech */
.pageRegionsGraf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 855px;
    margin: 0px auto;
}

/* řádek pro každý region v grafu */
.pageRegionsRow {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--bgLight);
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

/* textový název regionu na řádku */
.pageRegionsText {
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding: 5px 20px 5px 15px;
    box-sizing: border-box;
}

/* vedle regionu číslo s počtem tras v tom daném regionu */
.pageRegionsNo {
    width: 40px;
    height: 40px;
    /* border-radius: 10px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    background-color: var(--bgLighter);
}

/* a vedle nich wrapper div pro grafický sloupek grafu */
.pageRegionsBarWrap {
    /* calc počítá s odpočtem pageRegionsText width: 30%; (== 70%) */
    /* dále pageRegionsNo width: 40px; a pageRegionsRow 2x (left & right) border-radius: 15px; (== 70px) */
    /* to ve výsledku dá hezké zarovnání a zprava jakoby obalení každého sloupce grafu barvou pozadí pageRegionsRow */
    width: calc(70% - 70px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    height: 10px;
}

/* a v tom wrapperu i ten sloupek graficky */
/* JEHO WIDTH MUSÍ BÝT GENEROVÁNA JAVASCRIPTEM */
.pageRegionsBar {
    background-color: var(--themeColor);
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}



/* ======================================================================================================== */
/* INFORMACE */
/* každý wrapper div je omezený na 90% (max. 900px) šířky deklarací parent divu stránky "obsahStrankyInfo" */
/* aby mohla být na parent divu stránky deklarována barva pozadí v celé šířce, ale zároveň aby text a obsah na stránce nebyl příliš široký */

/* wrapper div pro Murphyho zákony */
#murphyLaw {
    margin-bottom: 60px;
}

/* odstavec, kam se JavaScriptem dynamicky vepisují jednotlivé Murphyho zákony */
#murphyLawQuote {
    font-size: 1em;
    font-style: italic;
    color: lightgray;
}
    /* před každou citací se bude zobrazovat barevně odlišený znak uvozovky jako taková vizuální dekorace */
    #murphyLawQuote::before {
        content: '"';
        color: var(--themeColor);
        font-size: 3em;
        line-height: 0.3;
        font-style: normal;
        vertical-align: text-bottom;
        font-family: 'Quicksand', serif;
        margin-right: 4px;
    }

/* statická annotace pod citátem Murphyho zákona */
#murphyLawNote {
    color: gray;
    text-align: right;
}


/* wrapper div pro changelog jednotlivých updatů */
#changelogWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

/* container div pro každý jednotlivý update */
.changelogContainer {
    width: 100%;
    max-width: 650px;
    border-top: 3px solid var(--bgLight);
}
    .changelogContainer:first-child {
        border-top: unset;
    }

/* div s číslem verze updatu */
.changelogVerze {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: var(--themeColor);
    margin-top: 20px;
}

/* div s datem updatu */
.changelogDatum {
    color: gray;
}

/* div s jednořádkovým souhrnem o tom, o čem daný update je */
.changelogSummary {
    color: var(--highlightColor);
    margin-top: 20px;
    margin-bottom: 10px;
}

/* div s jednotlivými body popisujícími update */
.changelogText {
    text-align: justify;
}

/* tlačítko pro zobrazení starších updatů (nejen toho posledního nejnovějšího) */
#starsiUpdatyTlacitko {
    background-color: #c38e4f;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    padding: 5px 15px;
}
    #starsiUpdatyTlacitko:hover {
        background-color: #ffa608;
        filter: brightness(80%);
    }


/* wrapper div pro přepínací záložky/tlačítka pro jednotlivé kategorie tipy a triky */
#tipsTabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* společná pravidla pro všechny záložky/tlačítka */
#tipsTabCyklotreky, #tipsTabMapycz, #tipsTabDopravci {
    width: 60px;
    height: 30px;
    border: 1px solid white;
    background-color: var(--bgDarker);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #tipsTabCyklotreky:hover, #tipsTabMapycz:hover, #tipsTabDopravci:hover {
        border: 1px solid var(--themeColor);
    }
    #tipsTabCyklotreky.tabActive, #tipsTabMapycz.tabActive, #tipsTabDopravci.tabActive {
        border: 1px solid var(--themeColor);
        background-color: var(--themeColor);
        cursor: default;
    }

/* wrapper div pro tipy a triky */
#tipsWrapper {
    text-align: justify;
    margin-bottom: 60px;
}

/* puntíky (markery) jednotlivých bodů pro tipy a triky */
#tipsWrapper li::marker {
    color: var(--highlightColor);
}


#popisWrapper {
    display: flex;
    justify-content: center;
}

.popisContainer {
    margin: 0px auto;
    width: 100%;
    max-width: 650px;
}
    .popisContainer > p {
        text-align: justify;
        line-height: 1.5;
        margin-top: 10px;
        margin-bottom: 10px;
        text-indent: 12px;
    }

/* tlačítko pro zobrazení textového bloku informací k Cyklotrekům */
#showInfoTlacitko {
    background-color: #c38e4f;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    padding: 5px 15px;
}
    #showInfoTlacitko:hover {
        background-color: #ffa608;
        filter: brightness(80%);
    }


/* wrapper div pro ikony technologií použitých při vývoji webu */
#infoDevtools {
    max-width: 300px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    #infoDevtools img {
        cursor: help;
    }



/* ======================================================================================================== */
/* PATIČKA KAŽDÉ STRÁNKY (s výjimkou úvodní stránky s main menu, která má svou vlastní specifickou patičku) */

/* wrapper div patičky */
#patkaStranky {
    background-color: var(--bgDarker);
    min-height: 30px;
    font-size: 0.8em;
    color: gray;
    padding: 5px;
}

/* obsahový div s informacemi/copyrightem v patičce */
.patkaInfo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
    /* pravidla pro B&W mini-logo v patičce */
    .patkaInfo img {
        margin: 0px 5px;
    }



/* ======================================================================================================== */
