:root {
    --themeColor: #0a7fe2;
    --bgLighter: #3c3f46;
    --bgLight: #282b30;
    --bgDark: #202327;
    --bgDarker: #161718;
}

body {
    background-color: var(--bgDark);
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0px;
    color: var(--themeColor);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
    h1:hover {
        filter: brightness(120%);
    }


/* =================================================================================== */
/* index.html */

/* hlavní obsahové grid container divy úvodní stránky */
#uvodniStrankaContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: minmax(450px, 30%) minmax(auto, 70%);
    grid-template-rows: auto;
}
    /* na mobilu bude menší min pro mainmenu panel */
    /* to sice nebude vidět (díky nezobrazení pinup panelu), ale příliš velký min by způsoboval overflow-x */
    @media (any-hover: none) {
        #uvodniStrankaContainer {
            width: 100%;
            height: auto;
            grid-template-columns: minmax(300px, 30%) minmax(auto, 70%);
        }
    }

#panelMenu {
    height: 100vh;
    max-height: 100%;
    background-color: var(--bgDark);
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 1.7em;
}
    /* na mobilu bude tento panel zabírat celou šířku obrazovky */
    @media (any-hover: none) {
        #panelMenu {
            height: auto;
            grid-column: 1 / 3;
        }
    }

#panelMenuLogo {
    background-color: var(--bgDarker);
    grid-row: 1 / 2;
}
    #panelMenuLogo img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
        filter: drop-shadow(0px 0px 20px white);
    }

#panelMenuContent {
    overflow-x: hidden;
    overflow-y: auto;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menuItemWrapper {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 330px;
    height: 100px;
    margin: 10px 0px;
    padding: 35px;
    user-select: none;
}
    .menuItemWrapper.menuCyklo {
        background-image: url("../img/cyklo.png");
    }
    .menuItemWrapper.menuPesi {
        background-image: url("../img/pesi.png");
    }
    .menuItemWrapper.menuOdkazy {
        background-image: url("../img/odkazy.png");
    }
    .menuItemWrapper.menuStatistika {
        background-image: url("../img/statistika.png");
    }
    .menuItemWrapper a {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 1.7em;
        color: #eff9ff;
        filter: drop-shadow(2px 2px 3px black);
    }
    .menuItemWrapper a:hover {
        font-size: 1.8em;
        color: white;
    }

.menuItem {
    background-color: transparent;
    width: 320px;
    height: 90px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .menuItem:hover {
        background-color: rgba(10, 127, 226, 0.05);
    }

#panelMenuPatka {
    overflow: hidden;
    background-color: var(--bgDarker);
    font-size: 0.8em;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panelPinup {
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
}
    /* na mobilu tento panel nebude vůbec zobrazený */
    @media (any-hover: none) {
        #panelPinup {
            display: none;
        }
    }


/* =================================================================================== */
/* horní div na každé pod-stránce pro titulní název stránky a logo */

/* div s logem a názvem stránky */
#titulka {
    background-color: var(--bgDarker);
    border-bottom: 1px solid var(--themeColor);
    top: 0px;
    position: sticky;
    padding: 10px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

    #logotop {
        background-color: var(--themeColor);
        position: absolute;
        top: -25px;
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 0px 0px 50% 50%;
        z-index: 110;
    }
        #logotop img {
            max-height: 100%;
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
        }
        #logotop:hover {
            top: -10px;
        }

    #nazevStranky {
        background-color: transparent;
        margin-top: 15px;
    }


/* =================================================================================== */
/* cyklo a pěší filtry*/

/* div s filtry pro trasy */
#filtry {
    background-color: var(--bgDarker);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.filtrNabidka {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    width: 25%;
    max-width: 250px;
}
    .filtrNabidka .nabidkaContainer {
        background-color: var(--bgLighter);
        font-family: inherit;
        color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("../img/dropdown-triangle.png");
        background-repeat: no-repeat;
        background-position: right 5px top 50%;
        border: 1px solid white;
        border-radius: 7px;
        display: block;
        min-width: auto;
        width: 90%;
        height: 25px;
        max-width: 300px;
    }
        .filtrNabidka .nabidkaContainer:hover {
            border: 1px solid var(--themeColor);
        }
        .filtrNabidka .nabidkaContainer:focus {
            border: 1px solid var(--themeColor);
        }

.filtrZatrzitko {
    display: flex;
    align-items: center;
    margin: 10px;
}
    .filtrZatrzitko .zatrzitkoContainer {
        display: inline-block;
        position: relative;
        user-select: none;
        cursor: pointer;
        height: 27px;
        margin-left: 5px;
    }
        .zatrzitkoContainer input {
            display: none;
        }
        .zatrzitkoContainer .zatrzitko {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 1px solid white;
            border-radius: 7px;
            background-color: var(--bgLighter);
        }
        .zatrzitkoContainer:hover input ~ .zatrzitko {
            border: 1px solid var(--themeColor);
        }
        .zatrzitkoContainer input:checked ~ .zatrzitko {
            background-color: var(--themeColor);
            border: 1px solid var(--themeColor);
        }
            .zatrzitkoContainer .zatrzitko::after {
                content: "";
                position: absolute;
                display: none;
                top: 4px;
                left: 8px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0px 5px 5px 0px;
                transform: rotate(45deg);
            }
            .zatrzitkoContainer input:checked ~ .zatrzitko::after {
                display: block;
            }

.filtrText {
    width: 90%;
    padding: 10px 0px;
}

#hledatNazev {
    width: 80%;
    max-width: 400px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: var(--bgLighter);
    color: white;
    padding: 5px 20px;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
}
    #hledatNazev:focus {
        border: 1px solid var(--themeColor);
    }


/* =================================================================================== */
/* cyklo a pěší trasy*/

/* container div s vygenerovaným seznamem tras */
#seznamTras {
    margin: 0px auto;
    padding: 10px 0px 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.trasaWrapper {
    width: 452px;
    margin: 10px;
}
    @media (any-hover: none) {
        .trasaWrapper {
            width: 352px;
        }
    }
    /* zde jsou specifické classy, které zařizují skrývání/zobrazování trasaWrapper v seznamu tras pro každý filtr zvlášť*/
    /* aby se spolu tyto jednotlivé filtry mohly kombinovat */
    .filtrDelka, .filtrRegion, .filtrKnown, .filtrNew, .filtrNazev {
        display: none;
    }

    .trasaContainer {
        background-color: var(--bgLight);
        margin: 0px auto;
        padding: 0px;
        border: 1px solid black;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 380px 70px;
        grid-template-rows: minmax(100px, auto);
        z-index: 5;
    }
        @media (any-hover: none) {
            .trasaContainer {
                grid-template-columns: 280px 70px;
                grid-template-rows: minmax(50px, auto);
            }
        }
        .trasaContainer:hover {
            filter: brightness(120%);
        }

        .trasaUrlContainer {
            text-decoration: none;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 50px 100px 300px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                "km pic name"
                "km pic name"
                "km pic region";
        }
            @media (any-hover: none) {
                .trasaUrlContainer {
                    grid-template-columns: 50px 300px;
                    grid-template-rows: 1fr auto;
                    grid-template-areas: 
                        "km name"
                        "km region";
                }
            }

            .kmContainer {
                color: white;
                border-radius: 15px 0px 0px 15px;
                grid-area: km;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Cabin', sans-serif;
                font-weight: 600;
                font-size: 1.3em;
            }

                /* classy pro jednotlivé délky tras */
                .short {
                    background-color: #144a14;
                }
                .medium {
                    background-color: #875807;
                }
                .long {
                    background-color: #a23604;
                }
                .longest {
                    background-color: #710606;
                }
                .multi {
                    background-color: #13264d;
                }
                /* doplňkové classy tras */
                .known {
                    filter: grayscale(80%) brightness(150%);
                }
                .new {
                    border: 1px solid var(--themeColor);
                }

            .pictureContainer {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 0px;
                padding: 0px;
                grid-area: pic;
            }
                @media (any-hover: none) {
                    .pictureContainer {
                        display: none;
                    }
                }

            .nazevContainer {
                background-color: transparent;
                color: white;
                border-radius: 0px 15px 0px 0px;
                grid-area: name;
                padding: 10px 15px 0px 12px;
                font-family: 'Open Sans', sans-serif;
                text-align: left;
                font-size: 1.3em;
            }

            .regionContainer {
                background-color: transparent;
                color: grey;
                border-radius: 0px 0px 15px 0px;
                grid-area: region;
                padding: 5px 90px 0px 12px;
                text-align: left;
            }
                @media (any-hover: none) {
                    .regionContainer {
                        padding: 5px 90px 5px 12px;
                    }
                }
                .regionContainer::before {
                    content: url("../img/map-pin.png");
                    margin-right: 5px;
                }

        .infoButtonContainer {
            background-color: transparent;
            border-radius: 0px 15px 15px 0px;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            z-index: 10;
            cursor: pointer;
            display: flex;
            flex-direction: column-reverse;
        }

            .infoButtonVisual {
                background-color: #ffcc00;
                color: black;
                border-radius: 15px 0px 15px 0px;
                user-select: none;
            }
            .infoButtonVisual:hover {
                background-color: #c38e4f;
            }

    .infoboxContainer {
        /* display: none; musí být přes JavaScript */
        width: calc(100% - 100px);
        height: auto;
        margin: 0px auto;
        padding: 20px 35px 30px;
        background-color: #f6deb3;
        color: black;
        border-radius: 0px 0px 15px 15px;
        z-index: 1;
    }
